**Importing panda:**

In [180]:
import pandas as pd

**Taking a first look at the first file:**

In [181]:
file1 = pd.read_csv("file1.csv")
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Getting some general info about the first file:**

In [182]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

**Taking a first look at the second file:**

In [183]:
file2 = pd.read_csv("file2.csv")
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

**Getting some general info about the second file:**

In [184]:
file2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

**Comparing the columns in each file to be ensure they are the same and that we can append one file to the other:**

In [185]:
print(file2.columns)
print(file1.columns)
file1.columns == file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False])

**Checking the order of the columns in the first file:**

In [186]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

**Checking the order of the columns in the second file:**

In [187]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

**Executing the append operation:**

In [188]:
data_set = file1.append(file2, ignore_index=True)
data_set

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4999,HV85198,Arizona,M,Master,847141.75%,63513.0,70.0,1/0/00,Personal Auto,Four-Door Car,185.667213
5000,BS91566,Arizona,F,College,543121.91%,58161.0,68.0,1/0/00,Corporate Auto,Four-Door Car,140.747286
5001,IL40123,Nevada,F,College,568964.41%,83640.0,70.0,1/0/00,Corporate Auto,Two-Door Car,471.050488
5002,MY32149,California,F,Master,368672.38%,0.0,96.0,1/0/00,Personal Auto,Two-Door Car,28.460568
5003,SA91515,California,M,Bachelor,399258.39%,0.0,111.0,1/0/00,Personal Auto,SUV,700.349052

**Checking how many rows there are in each file and what the sum of both is equal to:**

In [204]:
print(len(file1.index))
print(len(file2.index))
len(file1.index)+len(file2.index)

4008
996

5004

**Checking that the sum of the total rows is indeed equal to the sum of the indivual numbers of rows:**

In [205]:
4008+996

5004

**Checking that the header of the second file was not counting as a row during the append operation:**

In [207]:
data[data["Customer"]=="Customer"]

Empty DataFrame
Columns: [Customer, ST, GENDER, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

**Listing all columns of the file:**

In [209]:
data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

**Creating a list with the names of the new columns and checking that the number of items in the list matches the number of columns in the file:**

In [211]:
new_columns_names = ["customer", "state", "gender", "education", "customer_lifetime_value", "income", "monthly_premium_auto", "number_of_open_complaints", "policy_type", "vehicule_class", "total_claim_amount"]
print("nb of columns in data set", len(data.columns))
print("\nnumber of names for new column names", len(new_columns_names))

nb of columns in data set 11

number of names for new column names 11

**(test)**

In [212]:
test_columns_names = []
for i in range(len(data.columns)):
    test_columns_names.append(data.columns[i])
    print(data.columns[i])
print(test_columns_names)

Customer
ST
GENDER
Education
Customer Lifetime Value
Income
Monthly Premium Auto
Number of Open Complaints
Policy Type
Vehicle Class
Total Claim Amount
['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

**Creating a list with the names of the columns:**

In [213]:
old_columns_names = [data.columns[i] for i in range(len(data.columns))]
print(old_columns_names)

print("\n", new_columns_names)

['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

 ['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicule_class', 'total_claim_amount']

**Creating a dictionary with the names of the columns of the file as keys and the new column names as values:**

In [215]:
#dict_column_names = {}

#for i in range(len(data.columns)):
#    dict_column_names[old_columns_names[i]]=new_columns_names[i]

dict_column_names = {old_columns_names[i]:new_columns_names[i] for i in range(len(data.columns))}

print(dict_column_names)

{'Customer': 'customer', 'ST': 'state', 'GENDER': 'gender', 'Education': 'education', 'Customer Lifetime Value': 'customer_lifetime_value', 'Income': 'income', 'Monthly Premium Auto': 'monthly_premium_auto', 'Number of Open Complaints': 'number_of_open_complaints', 'Policy Type': 'policy_type', 'Vehicle Class': 'vehicule_class', 'Total Claim Amount': 'total_claim_amount'}

**Renaming the columns and checking that the renaming worked:**

In [216]:
data_with_new_column_names = data.rename(columns=dict_column_names)
data_with_new_column_names.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicule_class', 'total_claim_amount'],
      dtype='object')

**Curious to see of the original file kept the old names or not**

In [217]:
data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

**Deleting the "customer" column from the file:**

In [219]:
print("columns before drop", data_with_new_column_names.columns)

data_with_new_column_names = data_with_new_column_names.drop(["customer"], axis=1)
print("\ncolumns after drop", data_with_new_column_names.columns)

columns before drop Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicule_class', 'total_claim_amount'],
      dtype='object')

columns after drop Index(['state', 'gender', 'education', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'number_of_open_complaints', 'policy_type',
       'vehicule_class', 'total_claim_amount'],
      dtype='object')

**Removing duplicates:**

In [235]:
data_with_new_column_names.drop_duplicates()

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicule_class,total_claim_amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
1067,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000
1071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Checking the new state of the file:**\
It seems that columns 3 and 6 have issues since they are object types but should be numerical types

In [242]:
print(len(data_with_new_column_names.index))
print("number of duplicated aliminated:", len(data_set.index)-len(data_with_new_column_names.index))
data_with_new_column_names.info()

4008
number of duplicated aliminated: 996
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      1071 non-null   object
 1   gender                     954 non-null    object
 2   education                  1071 non-null   object
 3   customer_lifetime_value    1068 non-null   object
 4   income                     1071 non-null   float64
 5   monthly_premium_auto       1071 non-null   float64
 6   number_of_open_complaints  1071 non-null   object
 7   policy_type                1071 non-null   object
 8   vehicule_class             1071 non-null   object
 9   total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(7)
memory usage: 313.2+ KB

**Selecting colums with could be written text (and could have typos or deviations) to look at their unique values:**

In [252]:
object_columns = [
    i for i in data_with_new_column_names.columns if data_with_new_column_names[i].dtype=="O"].
object_columns

['state',
 'gender',
 'education',
 'customer_lifetime_value',
 'number_of_open_complaints',
 'policy_type',
 'vehicule_class']

**Getting the unique values of each of the columns of object type in form of a dictionary:**\
I can see that the columns "state", "gender" and "education" have inconsistencies\
Also, customer_lifetime_value and number_of_open_complaits" look weird...

In [264]:
unique_values_of_object_types = {
    i:data_with_new_column_names[i].unique() for i in object_columns}
print(unique_values_of_object_types)

{'state': array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object), 'gender': array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object), 'education': array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object), 'customer_lifetime_value': array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object), 'number_of_open_complaints': array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object), 'policy_type': array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object), 'vehicule_class': array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)}