**Importing panda:**

In [101]:
import pandas as pd

**Taking a first look at the first file:**

In [102]:
file1 = pd.read_csv("file1.csv")
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Getting some general info about the first file:**

In [103]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

**Taking a first look at the second file:**

In [104]:
file2 = pd.read_csv("file2.csv")
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

**Getting some general info about the second file:**

In [105]:
file2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

**Comparing the columns in each file to be ensure they are the same and that we can append one file to the other:**

In [106]:
print(file2.columns)
print(file1.columns)
file1.columns == file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False])

**Checking the order of the columns in the first file:**

In [107]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

**Checking the order of the columns in the second file:**

In [108]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

**Executing the append operation:**

In [109]:
data_set = file1.append(file2, ignore_index=True)
data_set

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4999,HV85198,Arizona,M,Master,847141.75%,63513.0,70.0,1/0/00,Personal Auto,Four-Door Car,185.667213
5000,BS91566,Arizona,F,College,543121.91%,58161.0,68.0,1/0/00,Corporate Auto,Four-Door Car,140.747286
5001,IL40123,Nevada,F,College,568964.41%,83640.0,70.0,1/0/00,Corporate Auto,Two-Door Car,471.050488
5002,MY32149,California,F,Master,368672.38%,0.0,96.0,1/0/00,Personal Auto,Two-Door Car,28.460568
5003,SA91515,California,M,Bachelor,399258.39%,0.0,111.0,1/0/00,Personal Auto,SUV,700.349052

**Checking how many rows there are in each file and what the sum of both is equal to:**

In [110]:
print(len(file1.index))
print(len(file2.index))
len(file1.index)+len(file2.index)

4008
996

5004

**Checking that the sum of the total rows is indeed equal to the sum of the indivual numbers of rows:**

In [111]:
4008+996

5004

**Checking that the header of the second file was not counting as a row during the append operation:**

In [112]:
data_set[data_set["Customer"]=="Customer"]

Empty DataFrame
Columns: [Customer, ST, GENDER, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

**Listing all columns of the file:**

In [113]:
data_set.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

**Creating a list with the names of the new columns and checking that the number of items in the list matches the number of columns in the file:**

In [114]:
new_columns_names = ["customer", "state", "gender", "education", "customer_lifetime_value", "income", "monthly_premium_auto", "number_of_open_complaints", "policy_type", "vehicule_class", "total_claim_amount"]
print("nb of columns in data set", len(data_set.columns))
print("\nnumber of names for new column names", len(new_columns_names))

nb of columns in data set 11

number of names for new column names 11

**(test)**

In [115]:
test_columns_names = []
for i in range(len(data_set.columns)):
    test_columns_names.append(data_set.columns[i])
    print(data_set.columns[i])
print(test_columns_names)

Customer
ST
GENDER
Education
Customer Lifetime Value
Income
Monthly Premium Auto
Number of Open Complaints
Policy Type
Vehicle Class
Total Claim Amount
['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

**Creating a list with the names of the columns before changing them:**

In [116]:
old_columns_names = [data_set.columns[i] for i in range(len(data_set.columns))]
print(old_columns_names)

print("\n", new_columns_names)

['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

 ['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicule_class', 'total_claim_amount']

**Creating a dictionary with the names of the columns of the file as keys and the new column names as values:**

In [117]:
#dict_column_names = {}

#for i in range(len(data.columns)):
#    dict_column_names[old_columns_names[i]]=new_columns_names[i]

dict_column_names = {old_columns_names[i]:new_columns_names[i] for i in range(len(data_set.columns))}

print(dict_column_names)

{'Customer': 'customer', 'ST': 'state', 'GENDER': 'gender', 'Education': 'education', 'Customer Lifetime Value': 'customer_lifetime_value', 'Income': 'income', 'Monthly Premium Auto': 'monthly_premium_auto', 'Number of Open Complaints': 'number_of_open_complaints', 'Policy Type': 'policy_type', 'Vehicle Class': 'vehicule_class', 'Total Claim Amount': 'total_claim_amount'}

**Renaming the columns and checking that the renaming worked:**

In [118]:
data_with_new_column_names = data_set.rename(columns=dict_column_names)
data_with_new_column_names.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicule_class', 'total_claim_amount'],
      dtype='object')

**Curious to see of the original file kept the old names or not**

In [119]:
data_set.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

**Deleting the "customer" column from the file:**

In [120]:
print("columns before drop", data_with_new_column_names.columns)

data_with_new_column_names = data_with_new_column_names.drop(["customer"], axis=1)
print("\ncolumns after drop", data_with_new_column_names.columns)

columns before drop Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicule_class', 'total_claim_amount'],
      dtype='object')

columns after drop Index(['state', 'gender', 'education', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'number_of_open_complaints', 'policy_type',
       'vehicule_class', 'total_claim_amount'],
      dtype='object')

**Removing duplicates:**

In [121]:
data_with_new_column_names.drop_duplicates()

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicule_class,total_claim_amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
4999,Arizona,M,Master,847141.75%,63513.0,70.0,1/0/00,Personal Auto,Four-Door Car,185.667213
5000,Arizona,F,College,543121.91%,58161.0,68.0,1/0/00,Corporate Auto,Four-Door Car,140.747286
5001,Nevada,F,College,568964.41%,83640.0,70.0,1/0/00,Corporate Auto,Two-Door Car,471.050488
5002,California,F,Master,368672.38%,0.0,96.0,1/0/00,Personal Auto,Two-Door Car,28.460568
5003,California,M,Bachelor,399258.39%,0.0,111.0,1/0/00,Personal Auto,SUV,700.349052

**Checking the new state of the file:**\
It seems that columns 3 and 6 have issues since they are object types but should be numerical types

In [122]:
print(len(data_with_new_column_names.index))
print("number of duplicated aliminated:", len(data_set.index)-len(data_with_new_column_names.index))
data_with_new_column_names.info()

5004
number of duplicated aliminated: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5004 entries, 0 to 5003
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      2067 non-null   object
 1   gender                     1945 non-null   object
 2   education                  2067 non-null   object
 3   customer_lifetime_value    2060 non-null   object
 4   income                     2067 non-null   float64
 5   monthly_premium_auto       2067 non-null   float64
 6   number_of_open_complaints  2067 non-null   object
 7   policy_type                2067 non-null   object
 8   vehicule_class             2067 non-null   object
 9   total_claim_amount         2067 non-null   float64
dtypes: float64(3), object(7)
memory usage: 391.1+ KB

**Selecting colums which could be written text (and could have typos or deviations) to look at their unique values:**

In [123]:
object_columns = [
    i for i in data_with_new_column_names.columns if data_with_new_column_names[i].dtype=="O"]
object_columns

['state',
 'gender',
 'education',
 'customer_lifetime_value',
 'number_of_open_complaints',
 'policy_type',
 'vehicule_class']

**Getting the unique values of each of the columns of object type in form of a dictionary:**\
I can see that the columns "state", "gender" and "education" have inconsistencies\
Also, customer_lifetime_value and number_of_open_complaits" look weird...

In [124]:
unique_values_of_object_types = {
    i:data_with_new_column_names[i].unique() for i in object_columns}
print(unique_values_of_object_types)

{'state': array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object), 'gender': array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object), 'education': array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object), 'customer_lifetime_value': array([nan, '697953.59%', '1288743.17%', ..., '568964.41%', '368672.38%',
       '399258.39%'], dtype=object), 'number_of_open_complaints': array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object), 'policy_type': array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object), 'vehicule_class': array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)}

**Creating dictionary to correct state names:**

In [125]:
state_list_non_formatted = list(unique_values_of_object_types["state"])
print(state_list_non_formatted,"\n")

state_list_formatted = ["WA","AZ","NV","CA","OR","CA"]

dict_to_correct_state_names = {state_list_non_formatted[i]:state_list_formatted[i] for i in range(6)}
dict_to_correct_state_names

['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali', 'AZ', 'WA', nan]

{'Washington': 'WA',
 'Arizona': 'AZ',
 'Nevada': 'NV',
 'California': 'CA',
 'Oregon': 'OR',
 'Cali': 'CA'}

**Creating dictionary to correct gender symbols:**

In [126]:
gender_list_non_formatted = list(unique_values_of_object_types["gender"])[3:]
print(gender_list_non_formatted,"\n")

gender_list_formatted = list(unique_values_of_object_types["gender"])[1:3]+["F"]
gender_list_formatted

dict_to_correct_gender_names = {gender_list_non_formatted[i]:gender_list_formatted[i] for i in range(3)}
dict_to_correct_gender_names

['Femal', 'Male', 'female']

{'Femal': 'F', 'Male': 'M', 'female': 'F'}

**Creating a dictionary to correct all and map it to all columns:**

In [142]:
dict_to_correct_them_all = {}

for x,y in dict_to_correct_state_names.items():
    dict_to_correct_them_all[x]=y
    
for x,y in dict_to_correct_gender_names.items():
    dict_to_correct_them_all[x]=y
    
        
dict_to_correct_them_all["Bachelors"]="Bachelor"

dict_to_correct_them_all

{'Washington': 'WA',
 'Arizona': 'AZ',
 'Nevada': 'NV',
 'California': 'CA',
 'Oregon': 'OR',
 'Cali': 'CA',
 'Femal': 'F',
 'Male': 'M',
 'female': 'F',
 'Bachelors': 'Bachelor'}

**Defining a function for correction to map it later to the columns:**

In [181]:
def correct_strings(value_to_check, dictionary_with_correct_values):
    if value_to_check in dictionary_with_correct_values.keys():
        return dictionary_with_correct_values[value_to_check]

**Not using the funciton above and cleaning the data manually:**

In [182]:
#df[1] = df[1].apply(add_one)

#pandas.DataFrame.loc[condition, column_label] = new_value
#df.loc[df.Weight == "155", "Name"] = "John"

data_with_new_column_names.loc[data_with_new_column_names["state"]=="Washington", "state"] = "WA"
data_with_new_column_names.loc[data_with_new_column_names["state"]=="Arizona", "state"] = "AZ"
data_with_new_column_names.loc[data_with_new_column_names["state"]=="Nevada", "state"] = "NV"
data_with_new_column_names.loc[data_with_new_column_names["state"]=="California", "state"] = "CA"
data_with_new_column_names.loc[data_with_new_column_names["state"]=="Oregon", "state"] = "OR"
data_with_new_column_names.loc[data_with_new_column_names["state"]=="Cali", "state"] = "CA"
data_with_new_column_names.loc[data_with_new_column_names["gender"]=="Femal", "gender"] = "F"
data_with_new_column_names.loc[data_with_new_column_names["gender"]=="Male", "gender"] = "M"
data_with_new_column_names.loc[data_with_new_column_names["gender"]=="female", "gender"] = "F"
data_with_new_column_names.loc[data_with_new_column_names["education"]=="Bachelors", "education"] = "Bachelor"

print(data_with_new_column_names["state"].unique())
print(data_with_new_column_names["gender"].unique())
print(data_with_new_column_names["education"].unique())

['WA' 'AZ' 'NV' 'OR' 'CA' nan]
[nan 'F' 'M']
['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

**Removing the "%" from the customer_lifetime_value column:**

In [212]:
data_with_new_column_names["customer_lifetime_value"].describe()

data_with_new_column_names["customer_lifetime_value"] = data_with_new_column_names["customer_lifetime_value"].str.replace("%","")

In [213]:
data_with_new_column_names["customer_lifetime_value"].describe()

count          2060
unique         1923
top       251459.20
freq              5
Name: customer_lifetime_value, dtype: object

In [215]:
data_with_new_column_names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5004 entries, 0 to 5003
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      2067 non-null   object
 1   gender                     1945 non-null   object
 2   education                  2067 non-null   object
 3   customer_lifetime_value    2060 non-null   object
 4   income                     2067 non-null   float64
 5   monthly_premium_auto       2067 non-null   float64
 6   number_of_open_complaints  2067 non-null   object
 7   policy_type                2067 non-null   object
 8   vehicule_class             2067 non-null   object
 9   total_claim_amount         2067 non-null   float64
dtypes: float64(3), object(7)
memory usage: 559.1+ KB

**Filling the nan values with the mean:**

In [216]:
data_with_new_column_names["income"].fillna(data_with_new_column_names["income"].mean())

0           0.0
1           0.0
2       48767.0
3           0.0
4       36357.0
         ...
4999    63513.0
5000    58161.0
5001    83640.0
5002        0.0
5003        0.0
Name: income, Length: 5004, dtype: float64

In [219]:
data_with_new_column_names["income"].unique()

array([    0., 48767., 36357., ..., 63513., 58161., 83640.])

**Function to regroup per region:**

In [220]:
def state_group(x):
    #checking for NaN. If x is NaN, return x
    if not x==x:
        return x
    else:
        dct_ = {
            "WA" : "west_coast",
            "AZ" : "midwest",
            "NV" : "midwest",
            "CA" : "west_coast",
            "OR" : "west_coast"
        }
        return dct_[x]
    
    
data_with_new_column_names["region"] = data_with_new_column_names["state"].apply(state_group)

In [221]:
data_with_new_column_names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5004 entries, 0 to 5003
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      2067 non-null   object
 1   gender                     1945 non-null   object
 2   education                  2067 non-null   object
 3   customer_lifetime_value    2060 non-null   object
 4   income                     2067 non-null   float64
 5   monthly_premium_auto       2067 non-null   float64
 6   number_of_open_complaints  2067 non-null   object
 7   policy_type                2067 non-null   object
 8   vehicule_class             2067 non-null   object
 9   total_claim_amount         2067 non-null   float64
 10  region                     2067 non-null   object
dtypes: float64(3), object(8)
memory usage: 598.2+ KB

**Importing new data set as file3:**

In [238]:
file3 = pd.read_csv("../W2D3_HealthCareForAll_Round2/Data_Marketing_Customer_Analysis_Round2.csv")

In [239]:
file3

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

**Extracting month:**

In [241]:
file3['Month'] = pd.DatetimeIndex(file3['Effective To Date']).month

In [242]:
file3

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,1

**Looking at how many months there are:**

In [243]:
file3['Month'].unique()

array([2, 1])