# Customer Analysis Case

## **Libraries:**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Content notes:

### Files relative paths:

In [2]:
file1 = "file1.csv"
file2 = "file2.csv"
file3 = "Data_Marketing_Customer_Analysis_Round2.csv"

### Changes record

**Data set construction:**
- File1: 4008 rows, 11 columns
- File2: 996 rows, 11 columns
- data set (file1+file2): 5004 rows, 11 columns (4008+996=5004)
- data after removal from duplicates: 2065 rows, 11 columns

**Column names standardization:**

Column names before change:
- 'Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value','Income', 'Monthly Premium Auto', 'Number of Open Complaints','Policy Type', 'Vehicle Class', 'Total Claim Amount'
- Number of columns before names change: 11

Column names after change:
- customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints','policy_type', 'vehicule_class', 'total_claim_amount'
- Number of columns after names change: 11


**State column, names standardization:**

State names before change:
- Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali','AZ', 'WA', nan
- Rows count: 2065

State names after change:
- 'WA', 'AZ', 'NV', 'CA', 'OR', nan
- Rows count: 2065

**Removing all rows which have only NaN values:**
- rows count before removal: 2065
- rows count after removal: 2064


**Gender column, names standardization:**

Gender values before change:
- 'F', 'M', 'Femal', 'Male', 'female', nan
- Rows count: 2064

Gender after change:
- 'F', 'M', nan
- Rows count: 2064


**Gender column, names standardization:**

Values before change:
- 'Master', 'Bachelor', 'High School or Below', 'College', 'Bachelors', 'Doctor'
- Rows count: 2064

Values after change:
- 'Master', 'Bachelor', 'High School or Below', 'College', 'Doctor'
- Rows count: 2064

In [4]:
data["state"].unique()

NameError: name 'data' is not defined

## **Functions:**

### Get data:

In [3]:
#### read a file:
def get_data_set(file1):             
    return pd.read_csv(file1)

####combine with dataframe from file2:
def concat_data_set2(data): 
    df2 = pd.read_csv("file2.csv")
    return pd.concat([data,df2])

### Data cleaning:

In [40]:
### removing duplicates:
def remove_duplicates(data):
    return data.drop_duplicates()

### renaming columns
def rename_columns(data):
    return data.rename(
        columns={"Customer":"customer",
        "ST":"state",
        "GENDER":"gender",
        "Education":"education",
        "Customer Lifetime Value":"customer_lifetime_value",
        "Monthly Premium Auto":"monthly_premium_auto",
        "Income":"income",
        "Number of Open Complaints":"number_of_open_complaints",
        "Policy Type":"policy_type",
        "Vehicle Class":"vehicule_class",
        "Total Claim Amount":"total_claim_amount"
                }
    )


### cleaning up state names
def clean_up_states(data):
    dict = {
        "Oregon": "OR",
        "California": "CA",
        "Arizona": "AZ",
        "Nevada": "NV",
        "Washington": "WA",
        "Cali": "CA"
        }
    return data.replace({"state": dict})


### droping all rows which have only Nan values
def drop_full_nan(data):
    return data.dropna(axis=0, how="all")

### stardardizing gender column
def standardize_gender_values(data):
    dict = {
        "Male": "M",
        "female": "F",
        "Femal": "F",
        }
    return data.replace({"gender": dict})


### stardardizing education column
def standardize_education_values(data):
    dict = {
        "Bachelors": "Bachelor",
        }
    return data.replace({"education": dict})

Test area:

In [46]:
#len(data["gender"])
data["education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor'],
      dtype=object)

In [42]:
data["gender"].value_counts()

F    1028
M     914
Name: gender, dtype: int64

In [47]:
data["customer_lifetime_value"].map(type).value_counts()

<class 'str'>      2057
<class 'float'>       7
Name: customer_lifetime_value, dtype: int64

In [49]:
data[data["customer_lifetime_value"].apply(lambda x: isinstance(x,str))]

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicule_class,total_claim_amount
1,QZ44356,AZ,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,AZ,M,Master,847141.75%,63513.0,70.0,1/0/00,Personal Auto,Four-Door Car,185.667213
992,BS91566,AZ,F,College,543121.91%,58161.0,68.0,1/0/00,Corporate Auto,Four-Door Car,140.747286
993,IL40123,NV,F,College,568964.41%,83640.0,70.0,1/0/00,Corporate Auto,Two-Door Car,471.050488
994,MY32149,CA,F,Master,368672.38%,0.0,96.0,1/0/00,Personal Auto,Two-Door Car,28.460568
995,SA91515,CA,M,Bachelor,399258.39%,0.0,111.0,1/0/00,Personal Auto,SUV,700.349052

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2065 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   2064 non-null   object
 1   state                      2064 non-null   object
 2   gender                     1942 non-null   object
 3   education                  2064 non-null   object
 4   customer_lifetime_value    2057 non-null   object
 5   income                     2064 non-null   float64
 6   monthly_premium_auto       2064 non-null   float64
 7   number_of_open_complaints  2064 non-null   object
 8   policy_type                2064 non-null   object
 9   vehicule_class             2064 non-null   object
 10  total_claim_amount         2064 non-null   float64
dtypes: float64(3), object(8)
memory usage: 193.6+ KB

## **Pipeline controller:**

In [45]:
data = (
    get_data_set(file1)               #### getting data from file1
.pipe(concat_data_set2)               #### appending data from dataset2
.pipe(remove_duplicates)              #### removing duplicates
.pipe(rename_columns)                 #### renaming columns
.pipe(clean_up_states)                #### normalizing state names
.pipe(drop_full_nan)                  #### droping all columns which have only NaN values
.pipe(standardize_gender_values)      #### standardizing gender column values
.pipe(standardize_education_values)   #### standardizing education column values

)
data

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicule_class,total_claim_amount
0,RB50392,WA,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,AZ,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,AZ,M,Master,847141.75%,63513.0,70.0,1/0/00,Personal Auto,Four-Door Car,185.667213
992,BS91566,AZ,F,College,543121.91%,58161.0,68.0,1/0/00,Corporate Auto,Four-Door Car,140.747286
993,IL40123,NV,F,College,568964.41%,83640.0,70.0,1/0/00,Corporate Auto,Two-Door Car,471.050488
994,MY32149,CA,F,Master,368672.38%,0.0,96.0,1/0/00,Personal Auto,Two-Door Car,28.460568
995,SA91515,CA,M,Bachelor,399258.39%,0.0,111.0,1/0/00,Personal Auto,SUV,700.349052