## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
sample_list_build = set()

while len(sample_list_build) != 80:
    sample_list_build.add(random.randrange(100))
    
print("length:", len(sample_list_build), "\ntype:", type(sample_list_build), "\ncontent:", sample_list_build)


sample_list_1 = []

for i in sample_list_build:
    sample_list_1.append(i)
    
print("list caracteristics")
print("length:", len(sample_list_1), "\ntype:", type(sample_list_1), "\ncontent:", sample_list_1)

length: 80
type: <class 'set'>
content: {0, 1, 2, 3, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 44, 46, 48, 49, 50, 51, 54, 56, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 81, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}
list caracteristics
length: 80
type: <class 'list'>
content: [0, 1, 2, 3, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 44, 46, 48, 49, 50, 51, 54, 56, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 81, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [13]:
set1 = set(sample_list_1)

print("set1 caracteristics: \ntype:", type(set1), "\nlength:", len(set1))

set1 caracteristics:
type: <class 'set'>
length: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
sample_list_2 = []

for i in range(0,80):
    sample_list_2.append(random.randrange(100))

print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [20]:
set2 = set(sample_list_2)

print("set2 caracteristics: \ntype:", type(set2), "\nlength:", len(set2))

print("set2:", set2)

set2 caracteristics:
type: <class 'set'>
length: 57
set2: {1, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 31, 33, 34, 37, 42, 45, 46, 47, 48, 51, 52, 55, 56, 57, 59, 61, 62, 63, 66, 67, 69, 71, 72, 76, 81, 82, 86, 87, 88, 89, 90, 94, 95, 97, 98}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [24]:
set_build = set1.symmetric_difference(set2)
set3 = set()

for element in set_build:
    if element in set1:
        set3.add(element)
        
print("set3\nlength:", len(set3), "\ncontent:", set3)

set3
length: 33
content: {0, 2, 7, 11, 13, 24, 25, 32, 35, 38, 39, 40, 41, 44, 49, 50, 54, 58, 64, 65, 68, 70, 73, 74, 75, 77, 78, 83, 85, 92, 93, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [25]:
set4 = set()

for element in set_build:
    if element in set2:
        set4.add(element)
        
print("set4\nlength:", len(set4), "\ncontent:", set4)

set4
length: 10
content: {67, 4, 37, 10, 45, 47, 82, 52, 55, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
set5 = set1.intersection(set2)

print("set5\nlength:", len(set5), "\ncontent:", set5)

set5
length: 47
content: {1, 3, 6, 8, 9, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 31, 33, 34, 42, 46, 48, 51, 56, 59, 61, 62, 63, 66, 69, 71, 72, 76, 81, 86, 87, 88, 89, 90, 94, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [31]:
#len(set1)+len(set2)-len(5) = len(set3)+len(set4)+len(set5)

print("len(set1)+len(set2)-len(5) =", len(set1)+len(set2)-len(set5))
print("len(set3)+len(set4)+len(set5)", len(set3)+len(set4)+len(set5))

len(set1)+len(set2)-len(5) = 90
len(set3)+len(set4)+len(set5) 90

#### Create an empty set called `set6`.

In [69]:
set6 = set()

type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [70]:
#using the union method because when I use the update method I get en error as if set6 would change its type to 'NoneType'


set6 = set3.union(set5)

type(set6)

set

#### Check if `set1` and `set6` are equal.

In [71]:
difference = 0
count = 0

for i in set1:
    if i in set6:
        count += 1
    else:
        difference += 1
    
if difference == 0:
    print("set1 equals set6")

set1 equals set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [72]:
set2_is_subset_of_set1 = set2.issubset(set1)

print("set2_is_subset_of_set1 is equal to", set2_is_subset_of_set1)


set3_is_subset_of_set1 = set3.issubset(set1)

print("set3_is_subset_of_set1 is equal to", set3_is_subset_of_set1)

set2_is_subset_of_set1 is equal to False
set3_is_subset_of_set1 is equal to True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [73]:
set3.union(set4)
set3.union(set5)

set1.union(set2)

{0,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### Using the `pop` method, remove an element from `set1`.

In [74]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [76]:
print("set1 length before removal:", len(set1))

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print("set1 length before removal:", len(set1), "\nand set1 content:", set1)

set1 length before removal: 79
set1 length before removal: 61
and set1 content: {2, 3, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 38, 40, 42, 44, 46, 48, 50, 54, 56, 58, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}